html, body { 
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #454f6e;
  font-family: 'Roboto', 'Montserrat';
}

#root, .full {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  position:absolute;
}


.arrows-wrapper {
  position: fixed;
  top:100px;
  left:30px;
}

.sidebar {
  position: fixed;
  top:10px;
  left:10px;
  width: 50px;
  height: 50px;
  background-color: #1c1e22;
  border-radius: 10px;
  transition: all 0.1s ease;
  z-index: 100;
  opacity: 1;
}

.sidebar.open{
    width:400px;
    height: 98%;
    opacity: 1;
}

.sidebarInner{
  display:none;
  /* transition: opacity 1s ease-in; */
  /* opacity: 1; */
}

.sidebarInner.open {
  display:block;
}


/* CSS */
.button-strt {
  background-color: #00FFF6;
  border: 1px solid rgb(0, 136, 255);
  border-radius: 8px;
  box-sizing: border-box;
  color: #1c1e22;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-disc {
  background-color: #f13838;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.selectBtn {
  margin-top: 200px;
}

.openCloseBar {
  padding: 10px 5px 10px 5px;
}

.startBar {
  padding: 50px 0px 50px 0px;
}

#chat-wrapper{
  width:100%;
  height:50%;
  margin:auto;
}

.FaBars {
  cursor: pointer;
  display:inline-block;
  font-size: 24px;
  width: 25px;
  height: 25px; 
  text-align: center;
  vertical-align: bottom;
  color:#B6EADA;
}

.alerts-wrapper-main {
  position:absolute;
  top:5px;
  left:30%;
}


#alerts-wrapper {
  height: 100px;
  padding: 50px 10px 0px 10px;
}

.sendMsgBtn {
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: #2671ff;
  cursor: pointer;

}
.sendMsgBtn:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.sendMsgBtn path {
  fill: white;
}

#disconnectBtnWrapper {
  margin-top:2%;
  display:flex;
}

.disconnectBtn {
  float: left;
  margin-left: 10px;
  outline: 0 none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px 0 0 0;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: #ff2626;
  cursor:pointer;
}
.sendMsgBtn:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.disconnectBtn path {
  fill: white;
}

.vidWrapper {
  z-index:0;
  height:100%;
}

.vidContainer {
  width:100%;
  height:100%;
  margin:auto;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

.msg-inner {
  width: 100%;
  /* display:flex; */
}

.msg-self {
  border-radius: 6px;
  background-color: #f5ccc2;
  margin-right: 8px;
  float: right;
}
.msg-other{
  border-radius: 6px;
  background-color: rgb(194, 243, 194);
  float: left;
  margin-left: 8px;
}
.msg-box {
  display: flex;
  padding: 10px 10px 0 10px;
  max-width: 80%;
  width: auto;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.user-img {
  display: inline-block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0 10px 10px 0;
}
.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}
.messages {
  flex: 1 0 auto;
}
.msg {
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
  margin: 0 0 4px 0;
}
.msg:first-of-type {
  margin-top: 8px;
}
.timestamp {
  color: rgba(0,0,0,.38);
  font-size: 8pt;
}
.username {
  margin-right: 3px;
}
.posttime {
  margin-left: 3px;
}

.msg-self .user-img {
  margin: 0 0 10px 30px;
}
.msg-other .user-img {
  margin: 0 0 10px 30px;
}
.msg-self .msg {
  text-align: right;
}
.msg-self .timestamp {
  text-align: right;
}

.arrow {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);

}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-third {
  animation: arrow-movement 2s ease-in-out infinite;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}




.lp-inner {
  width : 70%;
  height: 50%;
  margin :auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.lp-intro {
  height : 50%;
  /* background-color: #2e2e2ff5; */
  border-radius: 10px;
}

.lp-intro p{
  color: white;
  text-align: center;
  font-family: 'Roboto', 'Montserrat';
  font-size: 0.8em;
  padding: 0px 100px 0px 100px;
  line-height: 1em;
}

.lp-intro .title {
  font-size:1.5em;
}

.lp-intro .desc {
  font-size:1em;
  margin-bottom: 30px;
}

.lp-steps {
  height: 40%;
  display: flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
}

.inst-step {
  width: 30%;
  height: 100%;
  background-color: #2e2e2ff5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.inst-step  p {
  color: white;
  text-align:center;
  font-family: 'Roboto', 'Montserrat';
  font-size:0.7em;
  padding: 0px 20px 0px 20px;
}

.inst-step .title {
  font-size:1em;
}

.inst-step .desc {
  font-size:0.9em;
}

