html, body { 
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #454f6e;
  font-family: 'Roboto', 'Montserrat';
}

video {
  display: block;
  object-fit: cover;
}

#root, .full {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  background-color: #fff;
}

.arrows-wrapper {
  position: fixed;
  top:100px;
  left:30px;
}

.sidebar {
  position: absolute;
  top:0px;
  left:0px;
  background-color: #4490b6;
  transition: all 0.1s ease;
  z-index: 100;
  opacity: 1;
  border-bottom-right-radius: 3px;
  padding: 0px 5px 0px 5px;
}

.sidebar.open{
    width:400px;
    /* height:98%; */
    height: 100%;
    opacity: 1;
    z-index: 100;
    background-color: #1c2022;

}

.sidebarInner{
  display:none;
  /* transition: opacity 1s ease-in; */
  /* opacity: 1; */
  z-index: 100;
}

.sidebarInner.open {
  display:block;
  z-index: 100;
}

.button-strt {
  background-color: #00FFF6;
  border: 1px solid rgb(0, 136, 255);
  border-radius: 8px;
  box-sizing: border-box;
  color: #1c1e22;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-disc {
  background-color: #f13838;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.selectBtn {
  margin-top: 200px;
}

.openCloseBar {
  padding: 10px 5px 10px 5px;
}

.startBar {
  padding: 20px 0px 50px 0px;
}

.top-bar-icon {
  color: #FFFBEB;
}

.top-bar-icon:active {
  border-color: #000000;
  transform: scale(.86); 
  color: #c6fbe0;

}

.video-link-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.remote-vl-input {
  height: 40px;
  width: 80%;
  background: #40434e;
  line-height: 60px;
  outline: 0 none;
  border: none;
  width: calc(100% - 60px);
  color: white;
  text-indent: 10px;
  font-size: 12pt;
  padding: 0;
}

.video-link-play {
  display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    background: #40434e;
}

#chat-wrapper{
  width:100%;
  height:50%;
  margin:auto;
}

.FaBars {
  cursor: pointer;
  display:inline-block;
  font-size: 24px;
  width: 25px;
  height: 25px; 
  text-align: center;
  vertical-align: bottom;
  color:#B6EADA;
}

.alerts-wrapper-main {
  position:fixed;
  top:5px;
  left:30%;
  z-index: 100;
}


#alerts-wrapper {
  height: 50px;
  padding: 25px 10px 25px 10px;
}

.sendMsgBtn {
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: #2671ff;
  cursor: pointer;

}

.sendMsgBtn path {
  fill: white;
}

.sendMsgBtn:active path {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
  fill: black;
}

#disconnectBtnWrapper {
  margin-top:2%;
  display:flex;
}

.disconnectBtn {
  float: left;
  margin-left: 10px;
  outline: 0 none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px 0 0 0;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background: #ff2626;
  cursor:pointer;
}
.sendMsgBtn:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.disconnectBtn path {
  fill: white;
}

.disconnectBtn:active path{
  transform: scale(.96);
  fill: black;
}

.vidWrapper {
  z-index:0;
  height:100%;
  width:100%;
}

.vidContainer {
  width:100%;
  height:100%;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

.msg-inner {
  width: 100%;
  /* display:flex; */
}

.msg-self {
  border-radius: 6px;
  background-color: #f5ccc2;
  margin-right: 8px;
  float: right;
}
.msg-other{
  border-radius: 6px;
  background-color: rgb(194, 243, 194);
  float: left;
  margin-left: 8px;
}
.msg-box {
  display: flex;
  padding: 10px 10px 0 10px;
  max-width: 80%;
  width: auto;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.user-img {
  display: inline-block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0 10px 10px 0;
}
.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}
.messages {
  flex: 1 0 auto;
}
.msg {
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
  margin: 0 0 4px 0;
}
.msg:first-of-type {
  margin-top: 8px;
}
.timestamp {
  color: rgba(0,0,0,.38);
  font-size: 8pt;
}
.username {
  margin-right: 3px;
}
.posttime {
  margin-left: 3px;
}

.msg-self .user-img {
  margin: 0 0 10px 30px;
}
.msg-other .user-img {
  margin: 0 0 10px 30px;
}
.msg-self .msg {
  text-align: right;
}
.msg-self .timestamp {
  text-align: right;
}

.arrow {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid rgb(32,33,36);
  border-right: 2px solid rgb(32,33,36);
  transform: rotate(-45deg);

}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-third {
  animation: arrow-movement 2s ease-in-out infinite;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

.full-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  background-color: #2f323b;
}

.bg-video{
  position: fixed;
  opacity:0.1;
  width:100%;
  height: auto;
}

.lp-inner {
  width : 70%;
  height: 70%;
  margin :auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.lp-intro {
  height : 60%;
  /* background-color: #2e2e2ff5; */
  border-radius: 10px;
}

.lp-intro p{
  position:relative;

  padding: 0px 100px 0px 100px;
  text-align: center;
  font-size: 0.9rem;
  color:rgb(0, 0, 0);
}

.lp-intro .title {
  position:relative;
  padding-bottom: 0px;
  font-family: 'Roboto', 'Montserrat';
  line-height: 2.25rem;
  font-size: 4rem;
  letter-spacing: 0;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #faf7f7;
  /* z-index: 10; */
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}
.logo-img {
  z-index: 100;
  margin-bottom : 20px;
  width:50%;
  height:40%;

}


.lp-intro .desc {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 15px 0px;
  border-radius: 50px;
  border: 1px solid rgb(218,220,224);
  padding:20px 10px 20px 10px;
  width:85%;
  margin:auto;
  /* background-color: #fff; */
  opacity: 0.9;
}

.lp-steps {
  height: 40%;
  display: flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;

}

.inst-step {
  width: 30%;
  height: 100%;
  box-shadow: rgb(169 169 169 / 81%) 0px 7px 29px 0px;
  border-radius: 8px;
  border: 1px solid rgb(218,220,224);
  box-sizing: border-box;
  /* background-color: #f1fffd; */
  opacity: 0.9;
}

.inst-step  p {
  color:rgb(255, 255, 255);
  font-family: 'Roboto', 'Montserrat';
  line-height: 1.5em;
  text-align: center;
}

.inst-step .title {
  font-size:1em;
  text-align:center;
  padding: 0px 0px 0px 0px;
  /* color: rgb(32,33,36); */
}

.inst-step .desc {
  font-size: 1rem;
  text-align:center;
  padding: 0px 0px 0px 0px;
  /* color: rgb(32,33,36); */
} 

.inst-step .small {
  font-size:0.7em;
  text-align:center;
  padding: 0px 10px 0px 10px;
} 

.material-symbols-outlined {
  font-size:3rem;
  width:100%;
  text-align: center;
  color:#fff;
}

.inst-step-hr{
  margin-top: 0px;
}

.break {
  flex-basis: 100%;
  height: 30px;
}